---
import "@fontsource/merriweather";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
    <title>Heroes Cyber Security</title>
  </head>
  <body class="bg-zinc-800 text-white font-merriweather px-8">
    <slot />
  </body>
</html>
